{% extends "base.html" %}

{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Classes</title>
</head>
<body>
    {% block body_block  %}
    <h1>Lista de Classes</h1>
    
    <!-- Tabela de Classes -->
    <table id="classTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Classes</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personagem %}
                <tr>
                    <td>{{ persona.name }}</td>
                    <td>{{ persona.classes }}</td>
                    <td><a href="{% url 'update_delete_personagem' persona.id %}">Mexer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock  %}

</body>
</html>
