{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personagens</title>

    <!-- Deixe o bloco de estilos em branco nesta página, pois já foi definido no bloco de estilos do arquivo base.html -->
    {% block css %}{% endblock %}
</head>
<body>
    {% block body_block  %}
    <h1>Lista de Personagens</h1>
    
    <!-- Tabela de Classes -->
    <table id="classTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Classes</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in personagem %}
                <tr>
                    <td>{{ persona.name }}</td>
                    <td>{{ persona.classes }}</td>
                    <td><a href="{% url 'update_delete_personagem' persona.id %}" class="btn btn-primary">Mexer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock  %}
</body>
</html>
